@import './base.css';

.main-title {
  font-size: 48px;
  font-weight: 400;
}

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: 36px;
  width: 80%;
}

.entity-card-loader {
  max-width: 500px;
  border-radius: 8px !important;
  border: 1.2px solid #7e7e7e;
}
