@import './base.css';

.main-title {
  font-size: 48px;
  font-weight: 400;
}

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: 36px;
  width: 80%;
}
